In [1]:
from th_eventreader import TH_EventReader as ereader

In [2]:
for index, row in ereader.exp_df()[:2].iterrows():
    try:
        ereader.get_events(**row, exp='TH1')
    except:
        pass

In [3]:
ereader.load_events(**row, exp='TH1')

,eegoffset,block,chestNum,chosenLocationX,chosenLocationY,confidence,distErr,eegfile,exp_version,experiment,...,recalled,session,stim_list,stim_params,subject,trial,type,original_session_ID,subject_alias,pathInfo
0,49480,0,1,385.3582,337.2672,2,16.549214,R1076D_TH1_1_11Apr16_1802,,TH1,...,False,1,False,[],R1076D,0,CHEST,1,R1076D,"[{'mstime': 1460398772377, 'x': 384.5869, 'y':..."
1,53927,0,2,372.2607,352.0810,2,8.686829,R1076D_TH1_1_11Apr16_1802,,TH1,...,True,1,False,[],R1076D,0,CHEST,1,R1076D,"[{'mstime': 1460398775777, 'x': 387.6979, 'y':..."
2,58776,0,3,-999.0000,-999.0000,-999,-999.000000,R1076D_TH1_1_11Apr16_1802,,TH1,...,False,1,False,[],R1076D,0,CHEST,1,R1076D,"[{'mstime': 1460398780195, 'x': 375.62, 'y': 3..."
3,63543,0,4,400.5434,384.5109,2,3.630321,R1076D_TH1_1_11Apr16_1802,,TH1,...,True,1,False,[],R1076D,0,CHEST,1,R1076D,"[{'mstime': 1460398785045, 'x': 399.9216, 'y':..."
4,74393,0,2,372.2607,352.0810,2,8.686829,R1076D_TH1_1_11Apr16_1802,,TH1,...,True,1,False,[],R1076D,0,REC,1,R1076D,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2721223,4,3,401.1739,355.3907,2,16.783627,R1076D_TH1_1_11Apr16_1802,,TH1,...,False,1,False,[],R1076D,39,CHEST,1,R1076D,"[{'mstime': 1460401442344, 'x': 398.3841, 'y':..."
256,2725338,4,4,371.5594,339.9131,2,8.898984,R1076D_TH1_1_11Apr16_1802,,TH1,...,True,1,False,[],R1076D,39,CHEST,1,R1076D,"[{'mstime': 1460401447660, 'x': 389.3433, 'y':..."
257,2735488,4,4,371.5594,339.9131,2,8.898984,R1076D_TH1_1_11Apr16_1802,,TH1,...,True,1,False,[],R1076D,39,REC,1,R1076D,[]
258,2742403,4,3,401.1739,355.3907,2,16.783627,R1076D_TH1_1_11Apr16_1802,,TH1,...,False,1,False,[],R1076D,39,REC,1,R1076D,[]
259,2751286,4,2,402.8987,377.9136,2,3.539874,R1076D_TH1_1_11Apr16_1802,,TH1,...,True,1,False,[],R1076D,39,REC,1,R1076D,[]